## Final Project Submission

Please fill out:
* Student name: Simran Kaur
* Student pace: Self paced - 60 weeks
* Scheduled project review date/time: 
* Instructor name: Claude Fried
* Blog post URL:

In [33]:
# Microsoft x Hollywood

-- create photo with hollywood sign & microsoft logo --

In [35]:
Author: Simran Kaur

SyntaxError: invalid syntax (<ipython-input-35-54837e26a56e>, line 1)

### Overview

In [ ]:
This project is intended for Microsoft to step into the world of Hollywood.

### Business Problem

In [ ]:
Microsoft wants to start creating movies however they don't know where to start.

### Data Analysis

In [54]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

In [37]:
!ls

CONTRIBUTING.md README.md       data.sqlite     zippedData
LICENSE.md      awesome.gif     student.ipynb

In [56]:
import os
list_zipped_data = os.listdir('zippedData')
list_zipped_data

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [40]:
df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz',compression='gzip',error_bad_lines=False)
df.head()

In [41]:
df = pd.read_csv('zippedData/imdb.title.ratings.csv.gz',compression='gzip',error_bad_lines=False)

In [42]:
df = pd.read_csv('zippedData/imdb.title.basics.csv.gz',compression='gzip',error_bad_lines=False)

In [57]:
from pandasql import sqldf
import pandasql

# dataframe creation
df1 = pd.read_csv('zippedData/tn.movie_budgets.csv.gz',compression='gzip',error_bad_lines=False)
df2 = pd.read_csv('zippedData/imdb.title.ratings.csv.gz',compression='gzip',error_bad_lines=False)
df3 = pd.read_csv('zippedData/imdb.title.basics.csv.gz',compression='gzip',error_bad_lines=False)

# defining query using dataram
query = "SELECT * FROM df1 LEFT JOIN df2 ON df1.idx=df2.idx LIMIT 5;"

# returning query as a dataframe
df_query_output = pandasql.sqldf(query)
df_query_output.head()

PandaSQLException: (sqlite3.OperationalError) no such column: df1.idx
[SQL: SELECT * FROM df1 LEFT JOIN df2 ON df1.idx=df2.idx LIMIT 5;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [51]:
q = """
Select movie, production_budget, worldwide_gross, averagerating, numvotes, genre
From tn_movie_budgets
Join imdb_title_basics
    using(idx)
Join imdb_title_ratings
    using(idx)
;"""
pd.read_sql (q, conn)

DatabaseError: Execution failed on sql '
Select movie, production_budget, worldwide_gross, averagerating, numvotes, genre
From tn_movie_budgets
Join imdb_title_basics
    using(idx)
Join imdb_title_ratings
    using(idx)
;': no such table: tn_movie_budgets

### Methodology

### Conclusion

In [ ]:
Business Understanding: Stakeholder and key business question

In [29]:
Data Understanding and Analysis
Source of data
Description of data
Three visualizations (the same visualizations presented in the slides and notebook)

SyntaxError: invalid syntax (<ipython-input-29-4e8266be08b4>, line 1)

In [34]:
Conclusion: Summary of findings

SyntaxError: invalid syntax (<ipython-input-34-6d771bc3540a>, line 1)